/* タブレット用（480px〜767px） */
@media screen and (min-width: 480px) and (max-width: 767px) {

body {
    width: 80%;
}

.header {
    background-color: #FFCE7a;
    width: 300px;
    height: 100px;
}

.a {
    height: 250px;
    width: 300px;
    display: flex;
}

.a-left {
    background-color: #9DDDF4;
    width: 150px;
    height: 250px;
}

.a-right {
    height: 250px;
    width: 200px;
    background-color: #3056d1;
}

.a-right-top {
    height: 150px;
    width: 200px;
    display: flex;
}

.a-right-top-left {
    height: 150px;
    width: 125px;
    background-color: #e015c5;
}

.topf {
    background-color:#C2FFC8;
    width: 125px;
    height: 50px;
}

.center {
    background-color:#FFC2C5;
    width: 125px;
    height: 100px;
}

.a-right-top-right {
    background-color: #F89C9C;
    width: 75px;
    height: 150px;
}

.a-right-bot {
    background-color:#FFF083;
    width: 200px;
    height: 100px;
}

.footer {
    background-color: #BEA5FF;
    height: 100px;
    width: 300px;
}
}


/* ウィンドウ幅が最大479pxまで（スマホ用） */
@media screen and (max-width: 479px) {

.header {
    background-color: #FFCE7a;
    width: 150px;
    height: 100px;
}

/* 全体を縦並び */
.a {
    width: 150px;
    display: flex;
    flex-direction: column;
}

.a-left {
    background-color: #9DDDF4;
    width: 150px;
    height: 100px;
}

.a-right {
    width: 150px;
    display: flex;
    flex-direction: column;
}

/* 赤 */
.a-right-top-right {
    background-color: #F89C9C;
    width: 150px;
    height: 100px;
}

/* 緑 */
.topf {
    background-color: #C2FFC8;
    width: 150px;
    height: 50px;
}

/* ピンク */
.center {
    background-color: #FFC2C5;
    width: 150px;
    height: 100px;
}

/* 黄色 */
.a-right-bot {
    background-color: #FFF083;
    width: 150px;
    height: 100px;
}

.footer {
    background-color: #BEA5FF;
    width: 150px;
    height: 100px;
}
}
