@media screen and (min-width: 480px){
    body {
        width: 100%;
    }
    .header {
        background-color: #FFCE7a;
        height: 100px;
        width: 400px;
        padding-top: 25px;
        display: flex;
    }
    .a-left {
        background-color: #9DDDF4;
        width: 150px;
        height: 250px;
    }
    .header-right-topf{
        background-color:#C2FFC8;
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 10px;
    } 
    .topf{
        background-color:#C2FFC8;
        width: 250px;
        height: 250px;
    } 
    .center {
        background-color:#FFC2C5;
        width: 140px; 
        height: 40px;
        margin: 5px;

    }   
    .footer {
        background-color: #BEA5FF;
        height: 100px;
        width: 400px;
    }
    .a {
        height: 250px;
        width: 400px;
        display: flex;
    }
    .header-right {
        height: 60px;
        width: 160px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: 20px;
        display: flex;
        background-color: #ffffff;
    }
    .a-right-top1{
        height: 50px;
        width: 150px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: 60px;
        overflow: hidden;
        background-color: #ffffff;

    }
    .a-right-top2{
        height: 50px;
        width: 150px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: 60px;
        overflow: hidden;
        background-color: #ffffff;
    }
    .a-right-top3{
        height: 50px;
        width: 150px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: 60px;
        overflow: hidden;
        background-color: #ffffff;
    }
    }